.side-bar {
    background-color: #262730;
    border-radius: 10rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:  max-content;
    overflow: auto;
    margin-left: .75rem;
    margin-top: .75rem;
    z-index: 0;
    padding: 2.5rem 0;
}

.side-bar .nav-links {
    padding: 0;
    margin: 1rem 0;
}

.side-bar .nav-links li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 2.5rem;
    padding: 0 1.25rem;
}

.side-bar .nav-link {
    position: relative;
}

.indicator {
    background-color: #00f2fe;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 8px #00f2fe;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 5px;
}

.icon-fill-active {
    color: #00f2fe;
}

.icon-fill {
    color: #3b4848;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .side-bar {
        background-color: #262730;
        border-radius: 10rem;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        position: absolute;
        top: 20px;
        left: -10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height:  max-content;
        overflow: auto;
        margin-left: .75rem;
        margin-top: .75rem;
        z-index: 0;
        padding: 2.5rem 0;
    }
  
    .indicator {
      position: absolute;
      left: auto;
      right: 0;
      border-radius: 5px 0px 0px 5px;
    }
  
    .nav-links li {
      padding: 0 1rem;
    }
  
  }