@import './custom/themeColors';
@import './custom/tabs';
@import './custom/fonts';
@import './custom/sidebar';
@import './custom/projectCards';
@import './custom/images';
@import './custom/buttons';


@import '../../node_modules/bootstrap/scss/bootstrap';

html,
body {
  background-color: #1a1c22;
  margin: 0;
  padding: 0;
  color: #d1d3d8;
}

